---
import { client } from "../../.tina/__generated__/client";
import { MyComponent } from "../components/react";
const global = await client.queries.global({ relativePath: "global.yaml" });
const response = await client.queries.home({ relativePath: "home.mdx" });
---

<main>
<!--
  client:load will hydrate before client:idle
  So the component with the global data colleciton will hydrate first.
  This causes the global data collection to populate the editor
  in visual editing even when the home page collection is clicked.
-->
  <MyComponent client:idle {...response} />
  <MyComponent client:load {...global} />
</main>
